<div class="card" (click)="openDialog()">
  <img [src]="cat.url" alt="cat-image" />
  <div *ngIf="cat?.breeds.length !== 0; else noData">
    <p><strong>Breeds: </strong>{{ cat?.breeds[0]?.name }}</p>
    <p><strong>Origin: </strong>{{ cat?.breeds[0]?.origin }}</p>
    <p><strong>Life span: </strong> {{ cat?.breeds[0]?.life_span }}</p>
  </div>
  <ng-template #noData>
    <p><strong>Breeds: </strong>No data</p>
    <p><strong>Origin: </strong>No data</p>
    <p><strong>Life span: </strong> No data</p></ng-template
  >
</div>
